main {
  margin-top: 4.2vw;
}

main > .topDiv {
  padding-top: 100px;
  padding-bottom: 20px;
}

main > .topDiv > .center > p {
  color: #03c3fe;
  font-size: 14px;
  font-weight: bold;
}

main > .middleDiv > .center > .h3Div {
  padding-bottom: 80px;
}

main > .middleDiv > .center > .h3Div > h3 {
  font-weight: bold;
  font-size: 30px;
}

/*--------table--------*/
main > .middleDiv > .center > .tableDiv {
  padding-bottom: 53px;
}

main > .middleDiv > .center > .tableDiv > table {
  width: 100%;
}

main > .middleDiv > .center > .tableDiv > table > tbody > tr > td:first-child {
  width: 31%;
}

main > .middleDiv > .center > .tableDiv > table table {
  width: 100%;
  text-align: center;
}

main > .middleDiv > .center > .tableDiv > table table tr th {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 3px solid #aaa;
}

main > .middleDiv > .center > .tableDiv .thead tr th {
  align-items: flex-start;
  padding-left: 40px;
}

main > .middleDiv > .center > .tableDiv .thead tr td {
  justify-content: flex-start;
  padding-left: 40px;
  text-align: left;
}

main > .middleDiv > .center > .tableDiv > table table tr td {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

main > .middleDiv > .center > .tableDiv > table table tr:nth-child(2n) td {
  background-color: #f8f8f8;
}

main > .middleDiv > .center > .tableDiv > table table tr:nth-child(5) td {
  border-bottom: 2px solid #aaa;
}

main > .middleDiv > .center > .tableDiv > table table tr:nth-child(12) td {
  border-bottom: 1px solid #aaa;
}

main > .middleDiv > .center > .tableDiv > table table tr:nth-child(17) td {
  border-bottom: 2px solid #aaa;
}

main > .middleDiv > .center > .tableDiv > table table tr:last-child td {
  background: none;
}

main > .middleDiv > .center > .tableDiv > table table tr:nth-child(13) td {
  height: 88px;
}

.checkOn {
  position: absolute;
  opacity: 0;
}
/*--------underBox--------*/
main > .underDiv {
  background-color: #f2f2f2;
  padding: 100px 0 70px;
}

main > .underDiv > .center > .box {
  display: flex;
  justify-content: space-between;
}

main > .underDiv > .center > .box > .inBox {
  width: 400px;
  background-color: white;
  padding: 60px 25px 40px;
}

main > .underDiv > .center > .box > .inBox > h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 12px;
}

main > .underDiv > .center > .box > .inBox > h2 {
  font-size: 32px;
  font-weight: bold;
  color: #03c3fe;
  text-align: right;
  margin-bottom: 10px;
}

main > .underDiv > .center > .box > .inBox > h6 {
  text-align: right;
  margin-bottom: 13px;
  height: 45px;
}

main > .underDiv > .center > .box > .inBox > h6 > span {
  font-size: 12px;
  color: #aaa;
}

main > .underDiv > .center > .box > .inBox > h2 > span {
  font-size: 20px;
}

main > .underDiv > .center > .box > .inBox > h5 {
  line-height: 24px;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  margin-bottom: 30px;
}

main > .underDiv > .center > .box > .inBox > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
