/* header, footer 공동 css */
li,
a {
  list-style: none;
  text-decoration: none;
  color: #000;
}

:root {
  --skyBlue: #03c3fe;
}

.header {
  width: 100%;
  height: 4.2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.5vw;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

/* 헤더 메뉴 */
.headerMenuDiv {
  height: 100%;
}

.headerMenuItems {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.headerMenuItem {
  margin: 0 30px;
}

.menuItemA {
  font-size: 1vw;
  font-weight: bold;
}

.menuItemA:hover {
  transition: all 0.2s;
  color: var(--skyBlue);
  border-bottom: 3px solid var(--skyBlue);
  transition-timing-function: ease;
  transition-duration: 0.2s;
  transition-property: all;
  transition-delay: 0s;
}

/* 헤더 로그인 버튼 */
.headerBtnLogin {
  width: 5.2vw;
  height: 1.8vw;
  background-color: var(--skyBlue);
  border: none;
  border-radius: 16px;
}

.headerBtnLogin:hover {
  cursor: pointer;
}

.headerBtnLogin:hover span {
  transition: 0.5s;
  transform: translateX(4px);
  display: inline-block;
}

.headerBtnLogin > p {
  font-size: 0.7vw;
  font-weight: 700;
  color: #fff;
}
