/* header, footer 공동 css */
li,
a {
  list-style: none;
  text-decoration: none;
  color: #000;
}

:root {
  --skyBlue: #03c3fe;
  --gray: #eff2f6;
}

.header {
  width: 100%;
  height: 4.2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.5vw;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

/* 헤더 메뉴 */
.headerMenuDiv {
  height: 100%;
}

.headerMenuItems {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.headerMenuItem {
  margin: 0 30px;
}

.menuItemA {
  font-size: 1vw;
  font-weight: bold;
}

.menuItemA:hover {
  transition: all 0.2s;
  color: var(--skyBlue);
  border-bottom: 3px solid var(--skyBlue);
  transition-timing-function: ease;
  transition-duration: 0.2s;
  transition-property: all;
  transition-delay: 0s;
}

/* 헤더 로그인 버튼 */
.headerBtnLogin {
  width: 5.2vw;
  height: 1.8vw;
  background-color: var(--skyBlue);
  border: none;
  border-radius: 16px;
}

.headerBtnLogin:hover {
  cursor: pointer;
}

.headerBtnLogin:hover span {
  transition: 0.5s;
  transform: translateX(4px);
  display: inline-block;
}

.headerBtnLogin > p {
  font-size: 0.7vw;
  font-weight: 700;
  color: #fff;
}

/*--------footer--------*/
.center {
  padding: 0 146px;
}

footer {
  height: 150px;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
}

footer > .center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer > .center > .footerTop {
  font-size: 11px;
  font-weight: bold;
}

footer > .center > .footerTop > p {
  line-height: 2;
}

footer > .center > .footerTop > p > a {
  margin-right: 30px;
}

footer > .center > .footerTop > p > b {
  margin-right: 4px;
}

footer > .center > .footerBottom {
  display: flex;
  align-items: center;
}

footer > .center > .footerBottom > div > a {
  font-size: 14px;
}

footer > .center > .footerBottom > .btn1 > a {
  margin-right: 20px;
  font-size: 13px;
}

footer > .center > .footerBottom > .btn2 {
  width: 130px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e5e5e5;
}

footer > .center > .footerBottom > .btn2:hover {
  background-color: #03c3fe;
}

footer > .center > .footerBottom > .btn2 > a:hover {
  color: white;
}
