.main {
  display: block;
  align-items: center;
  justify-content: center;
}

.sectionDownload {
  max-width: 1440px;
  margin: 85px auto;
}

.titleDownload {
  color: var(--skyBlue);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.titleInfo {
  font-size: 30px;
  font-weight: 800;
}

.download {
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pcDownload {
  width: 750px;
  height: 450px;
}
.mobileDownload {
  width: 500px;
  height: 450px;
}
.kindTitle {
  height: 235px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgKind {
  margin-bottom: 40px;
}
.kind {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}
div.box {
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

a > img {
  margin-right: 15px;
}
.btn {
  display: block;
  border: 1px solid #202020;
  width: 230px;
  height: 80px;
  text-align: center;
  padding: 15px 0;
  font-size: 22px;
  font-weight: 600;
}
.description > p {
  margin-top: 10px;
  font-size: 12px;
}
p.recommendSpec {
  font-size: 14px;
  font-weight: 600;
}
p.spec {
  line-height: 1.4;
}

.manual {
  background-color: var(--gray);
  padding: 90px 200px;
}

.titleInfo {
  margin-bottom: 50px;
  font-weight: 700;
}
.manualContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.manualBox {
  width: 450px;
  height: 240px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 40px;
}

.manualName {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1px;
  margin: 20px 0;
}
.btnDownload {
  display: block;
  background: rgba(85, 85, 85, 0.1);
  width: 200px;
  height: 40px;
  border-radius: 28px;
  padding: 10px 40px;
  font-weight: 700;
  font-size: 18px;
}
